modal-task-users {
  .content {
    background-color: $background-gray;
    padding-top: 32px;
  }

  .scroll-content {
    padding-top: 32px;
   }

   ion-header.header.header-ios {
    border-bottom: 1px solid $grey-border;
  }
}
